render-dragon
poster-dragon-front
poster-koch-side
poster-gosper-front
poster-gosper-back
poster-gosper-other
poster-gosper-side
fractal
dragon.py
.sconsign.dblite
shiny.exr
*-smooth.exr
*-mask.exr
*-merged.exr
*-large.exr
*.png
*.log
*.aux
*.fls
*.nav
*.out
*.pdf
*.snm
*.toc
